@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* @import "bourbon"; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* général */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

html {
  font: 16px;
  color: orange;
  font-family: 'Poppins', sans-serif;
  background-color: #222328;
}

ul {
  display: flex;
}

li, nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.6;
  font-weight: 800;
  box-shadow: inset 0 0 0 0 orange;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .7s ease-in-out, box-shadow .7s ease-in-out;
}

a:hover {
  opacity: 1;
  box-shadow: inset 250px 0 0 0 orange;
  color: white;
  border-radius: 4px;
}

section, .caroussel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 700px) {
  section {
    padding: 80px 30px;
  }
}

section h3.title {
  /* color: #414a4f; */
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 35px;
  text-align: center;
}

section p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}

ul.grid {
  width: 100%;
  /* display: flex;
  flex-wrap: wrap; */
  justify-content: center;
}

/* Header */

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: orange;
  padding: 35px 100px 0;
  /* 2do restet pure black */
  /* background-color:rgba(0, 0, 0, 0.12); */
  background-color: #222328;
  padding-bottom: 20px;
}

header h2 {
  font-family: "lobster", sans-serif;
  font-size: 35px;
}

span {
  font-family: 'lobster', sans-serif;
  box-shadow: none;
}

header nav {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

@media (max-width: 1000px) {
  header {
    padding: 20px 50px;
  }
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  header h2 {
    margin-bottom: 15px;
  }

}

/* Page d'accueil */

.hero {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: orange;
  text-align: center;
  bottom: 25%;

}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: #2196F3;
  z-index: -1;
  opacity: 1;
}

@media (max-width: 600px) {
  header {
    color: red;
  }
}

.hero h1 {
  font: bold 60px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 7px;
}

.hero h3 {
  font: normal 28px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
}

@media (max-width: 800px) {
  .hero {
    min-height: 600px;
  }

  .hero h1 {
    font-size: 40px;
  }

  .hero h3 {
    font-size: 24px;
  }

  .hero a {
    padding: 15px 40px;
  }
}

/* L'agence section */

.lagence h3 {
  color: #ffa500;
}

.lagence .grid li {
  padding: 20px;
  height: 350px;
  border-radius: 3px;
  width: 100%;

  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.lagence .grid li.small {
  flex-basis: 40%;

}

.lagence .grid li.large {
  flex-basis: 60px;
}

.souligne strong {
  text-decoration: underline;
}

.liencontact {
  opacity: 0.9;
  text-decoration: underline;
  /* text-decoration-color: #cc0000; */
  text-decoration-thickness: 30%;
}

@media(max-width: 1000px) {

  .lagence .grid li.small,
  .lagence .grid li.large {
    flex-basis: 100%;
  }
}

/* carousel */

.slider {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 50px auto;
  background-color: #18191d;
  border-radius: 2%;
  overflow: hidden;
}

.slider-controls {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 200px;
  transform: translatex(-50%);
  z-index: 1000;
  list-style: none;
  text-align: center;
}

.slider input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-controls label {
  display: inline-block;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #212121;
  transition: background-color 0.2s linear;
}

#btn-1:checked~.slider-controls label[for="btn-1"] {
  background-color: #ffa500;
}

#btn-2:checked~.slider-controls label[for="btn-2"] {
  background-color: #ffa500;
}

#btn-3:checked~.slider-controls label[for="btn-3"] {
  background-color: #ffa500;
}

/* SLIDES */

.slides {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 100%;

  opacity: 0;
  transform: translatex(-100%);
  transition: transform 250ms linear;
}

.slide-content {
  width: 400px;
}

.slide-title {
  margin-bottom: 20px;
  font-size: 36px;
}

.slide-text {
  margin-bottom: 20px;
  padding-right: 20px;
}

.slide-link {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  background-color: #ffa500;
}

.slide-image img {
  max-width: 100%;
}

/* Slide animations */
#btn-1:checked~.slides .slide:nth-child(1) {
  transform: translatex(0);
  opacity: 1;
}

#btn-2:checked~.slides .slide:nth-child(2) {
  transform: translatex(0);
  opacity: 1;
}

#btn-3:checked~.slides .slide:nth-child(3) {
  transform: translatex(0);
  opacity: 1;
}

#btn-1:not(:checked)~.slides .slide:nth-child(1) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-2:not(:checked)~.slides .slide:nth-child(2) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-3:not(:checked)~.slides .slide:nth-child(3) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes swap-out {
  0% {
    transform: translatex(0);
    opacity: 1;
  }

  50% {
    transform: translatex(50%);
    opacity: 0;
  }

  100% {
    transform: translatex(100%);
  }
}

/* Footer */

footer {
  border-top: 1px dashed black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  /* background-color: beige; */
}

.bloc {
  align-items: center;
  /* flex: 1 0 auto; */
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.footer-content {
  /* border: 3px solid blue; */
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  /* background-color: green; */
}

.bloc {
  /* border: 3px solid black; */
  /* align-items: center; */
  width: 30%;
  margin: 0 30px;
  
  display: flex;
  /* flex-direction: column; */
}

.footer-list {
  /* border: 3px solid red; */
  /* align-items: center; */
  flex-direction: column;
  list-style-type: underline;
}

.liste-services a:hover {
  color: rgb(131, 0, 0);
} 

.footer-list img {
  width: 40px;
  margin: 10px 10px;
}

#reseaux {
  
  /* text-decoration: none; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* font-size: 25px; */
  /* background-color: #fff; */
  /* color:red */
  
} 
#reseaux li a {
  display: flex;
  /* width: 150%; */
  /* border: 3px solid red; */
  justify-content: start;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width:700px) {
  .footer-content {
    /* width: 700px; */
    flex-wrap: wrap;
    /* background-color: rgb(94, 0, 0); */
  }
  
/* #reseaux li a{
  width: 100%;
  flex-direction: row;
  border: 3px solid blue;
  justify-content: center;
  align-items: center;
  align-self: center;
} */



/* Media Query */

/* @media screen and (max-width:1300px) {
  .footer-content {
    width: 700px;
    flex-wrap: wrap;
    background-color: rgb(94, 0, 0);
  }

  .bloc {
    width: 40%;
    margin: 0 0;
  }

  .bloc:nth-child(1),
  .bloc:nth-child(2) {
    margin-bottom: 50px;
  }
}

@media screen and (max-width:800px) {
  .footer-content {
    width: 320px;
    background-color: rgb(0, 0, 130);
  }

  .bloc {
    width: 300px;
    margin: 30px 30px;
  }

  .bloc:nth-child(1),
  .bloc:nth-child(2) {
    margin-bottom: 30px;
  }

  .bloc:nth-child(1) {
    margin-top: 0;
  } 
}*/

/*************************************************************************
/*                          Team                       */
/*************************************************************************

/*                  flip-card                                         */

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 2vw;
}

.flip-card h1 {
  font: bold 60px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cc0000;
}

.flip-card h3 {
  font: normal 28px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cc0000;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #cc0000;
  color: white;
  transform: rotateY(180deg);
}


.margintop {
  height: 150px;
}


.floatLeft .flip-card {
  position: static;
  float: left;
}


@media (max-width: 1200px) {
  .floatLeft {
    padding-top: 100px;
  }
}


@media (max-width: 800px) {
  .floatLeft {
    padding-top: 300px;
  }
}

.paragraph {
  text-align: justify;
}